In [3]:
# Simple printing of a string in python
print('I enjoy programming in python')

# Printing using string concatenation
print('I enjoy programming ' + 'in python')

# Printing using string concatenation & str(int)
print('I am ' + str(30) + ' years old')
# Printing using variables & string concatenation
age=30
print('I am ' + str(age) + ' years old')

I enjoy programming in python
I enjoy programming in python
I am 30 years old
I am 30 years old

In [19]:
# Printing using F-String
name='Paul'
age=30
print(f'My name is {name} and I am {age} years old')

My name is Paul and I am 30 years old

In [1]:
# Printing using comma-separated strings and variables
name="Paul"
age=30
print('My name is',name,'and I am',age,'years old')

My name is Paul and I am 30 years old

In [29]:
# Printing a string

# Use of new line character \n
print('one\ntwo\nthree')

print('-----------------------')

# Use of tab character \t
print('one\ttwo\tthree')

one
two
three
-----------------------
one	two	three

In [16]:
# Printing without the use of a space separator
print('Milk', 'shake',sep='')

# Printing using a space separator between the strings
print('Milk', 'shake',sep=' ')

# Printing using a '-' separator between the strings
print('Milk', 'shake',sep='-')

# Printing using a '_' separator between the strings
print('Milk', 'shake',sep='_')

# Printing using a tab separator
print('Milk', 'shake',sep='\t')

# Printing using a new line separator
print('Milk', 'shake',sep='\n')

Milkshake
Milk shake
Milk-shake
Milk_shake
Milk	shake
Milk
shake

In [41]:
# Printing an iterable (list)
lst=['apple','orange','banana']
print(lst)

print('-----------------------------')

# Printing an iterable (list) with the use of star operator (*)
print(*lst)

['apple', 'orange', 'banana']
-----------------------------
apple orange banana

In [43]:
# Use of end=' ' to print in the same line without space
print('Milk',end='')
print('shake')

print('----------')

# Use of end=' ' to print in the same line with space
print('Milk',end=' ')
print('shake')

Milkshake
----------
Milk shake

In [46]:
# Printing --> combination of 'sep' & 'end'
lst1=['apple','orange','banana']
lst2=['milk','bread','butter']
print(*lst1,sep=',',end='-')
print(*lst2,sep=',')

apple,orange,banana-milk,bread,butter