In [5]:
# A tuple can be used to store more than one items (separated by comma)
# A tuple can be created with the use of parenthesis or without
#multiple items
print('Case multiple items:')
print('\r')
tup1=('car','phone',1)
print('Tuple created with parenthesis:\n',tup1)
tup2='car','phone',1
print('Tuple created without parenthesis:\n',tup2)
print('\r')
print('---------------------------------------')
print('\r')
# To create a tuple with only one item, then a comma should be placed after the item
print('Case one item:')
print('\r')
tup3=('car')
print('Data type without use of comma:\n',type(tup3))
tup4=('car',)
print('Data type with use of comma:\n',type(tup4))

Case multiple items:

Tuple created with parenthesis:
 ('car', 'phone', 1)
Tuple created without parenthesis:
 ('car', 'phone', 1)

---------------------------------------

Case one item:

Data type without use of comma:
 <class 'str'>
Data type with use of comma:
 <class 'tuple'>

In [84]:
# Accesing tuple elements and len(tuple)
tup1=('car','phone',1,'dog','radio','summer',5,'laptop')
print('Tuple:',tup1)
print('\r')
print('First tuple element:',tup1[0])
print('Last tuple element:',tup1[-1])
print('In between tuple elements:',tup1[1:-1])
print('First three tuple elements:',tup1[:3])
print('Last three tuple elements:',tup1[-3:])
print('Tuple elements starting at index 0 with step 2:',tup1[::2])
print('Tuple elements starting at index -1 with step -2:',tup1[::-2])
print('Length of tuple is:',len(tup1))

Tuple: ('car', 'phone', 1, 'dog', 'radio', 'summer', 5, 'laptop')

First tuple element: car
Last tuple element: laptop
In between tuple elements: ('phone', 1, 'dog', 'radio', 'summer', 5)
First three tuple elements: ('car', 'phone', 1)
Last three tuple elements: ('summer', 5, 'laptop')
Tuple elements starting at index 0 with step 2: ('car', 1, 'radio', 5)
Tuple elements starting at index -1 with step -2: ('laptop', 'summer', 'dog', 'phone')
Length of tuple is: 8

In [62]:
# Count of tuple elements
tup=(1,2,3,4,2,2,1,4,4,2)
for x in set(tup):
    print('Count of tuple element {}: {}\n'.format(x,tup.count(x)))

Count of tuple element 1: 2

Count of tuple element 2: 4

Count of tuple element 3: 1

Count of tuple element 4: 3

In [17]:
# Difference between a list and a tuple is that a tuple is immutable (it does not upport item assignment)
# Returns a TypeError -->'tuple' object does not support item assignment
tup1=('car','phone',1)
tup1[-1]='dog'
print('New tuple:\n',tup1)

TypeError: 'tuple' object does not support item assignment

In [79]:
# Unpacking a tuple
tup1=('car','BMW',2020)
vehicle,make,year_model=tup1
print('Type of vehicle:\n',vehicle)
print('Car Make:\n',make)
print('Car Year Model:\n',year_model)

Type of vehicle:
 car
Car Make:
 BMW
Car Year Model:
 2020

In [72]:
# A tuple can be created from a list and vice versa
lst1=['car','phone','apple']
tup1=tuple(lst1)
print('Tuple created from list:\n',tup1)
lst=list(tup1)
print('\r')
print('List created from tuple:\n',lst)

Tuple created from list:
 ('car', 'phone', 'apple')

List created from tuple:
 ['car', 'phone', 'apple']

In [73]:
# A dict can be created from tuples
tup1=(1,2,3)
tup2=('one','two','three')
d=dict(zip(tup1,tup2))
print('Dict created from tuples:\n',d)

Dict created from tuples:
 {1: 'one', 2: 'two', 3: 'three'}

In [51]:
# Tuple 'for' loop and 'if' statement example
tup=(1,2,3,4,5,6)
# for loop
print("Tuple--> 'for' loop:\n")
for item in tup:
    print(item,end=' ')
# if statement
print('\r')
print("\nTuple--> 'if' statement:\n")
val=[4,8]
for x in val:
    if x in tup:
        print('Item {} is in tup and its index is {}:\n'.format(x,tup.index(x),end=' '))
    else:
        print('Item {} is not in tup'.format(x))

Tuple--> 'for' loop:

1 2 3 4 5 6

Tuple--> 'if' statement:

Item 4 is in tup and its index is 3:

Item 8 is not in tup